

body {
  background-image: url(https://i.imgur.com/Z9nwrtO.png);
}

.calander {
  border: solid black 1px;
}


h1 {
  font-family: 'Roboto', sans-serif;
  font-family: 'Bungee Shade', cursive;
}

.coolH2 {
  font-family: 'Roboto', sans-serif;
  font-family: 'Bungee Shade', cursive;
}

h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 23px
}

